@charset "UTF-8";

/* Mobile First */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body {
    background: black url(/imagens/back-phone.jpg) no-repeat;
    background-position:  center center;
    background-size: cover;
}

main {
    background-color: rgba(255, 255, 255, 0.685);
    width: 90vw;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 2em;
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

#tablet, #print, #tv, #pc {
    display: none;
}